* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #404A65;
    color: #ECEDF0;
    font-family: Kanit;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* GAME SECTION */

.game-container {
    text-align: center;
    margin-top: 50px;
}

.game__title {
    margin-bottom: 5px;
    font-size: 68px;
    font-weight: 900;
    letter-spacing: 0;
    text-shadow: 2px 2px 0px #35383f;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #35383f;
}

.game__content {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.game__image-heads,
.game__image-tails {
  cursor: pointer;
}

.game__image--is-visible {
    display: inline-block;
}

.game__image--is-hidden {
    display: none;
}

.game__btn {
    text-transform: uppercase;
    background-color: #1F6FB0;
    box-shadow: 0px 4px 0px 0px #23649b;
    padding: 8px 40px;
    border: none;
    border-radius: 8px;
    color: #ECEDF0;
    font-family: Kanit;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.game__btn:hover {
    background-color: #23649b;
    box-shadow: 0px 4px 0px 0px #205c8d;
}

/* FOOTER */

.author-info {
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 16px;
    color: #cccccc;
}

.author-info a {
    color: #cccccc;
    text-decoration: none;
}

.author-info a:hover {
    color: #ECEDF0;
}